# 종속성 디렉토리
node_modules/


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 빌드 출력 디렉토리
/dist
/build


# 데이터베이스
.db

# OS 생성 파일
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
