* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --Pink: #e83c77;
    --White: white;
    --Font: #3e3e3e;
    --Input: #f4f7fa;
    --BoxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
